<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form class="input-form">
      <label for="name">Enter a number: </label>
      <input type="text" id="name" />

      <label for="send"></label>
      <input type="submit" id="send" value="Send" />
    </form>
    <script src="./track.js"></script>
  </body>
</html>
