extends layout

block content
  .sign
    h1 Sign UP
    form#sign-up-form
      .message
      label(for='sign-up-email') Enter your e-mail:
      input#sign-up-email(type='email', placeholder='you@example.com')

      label(for='sign-up-password') Enter your password:
      input#sign-up-password(type='text')

    button(type='submit', form='sign-up-form', value='send') Send
  .sign
    h1 Sign In
    form#sign-in-form
      .message
      label(for='sign-in-email') Enter your e-mail:
      input#sign-in-email(type='email', placeholder='you@example.com')

      label(for='sign-in-password') Enter your password:
      input#sign-in-password(type='text')

    button(type='submit', form='sign-in-form', value='send') Send