body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#sign-in-form,
#sign-up-form,
.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
